.DS_Store
plotFiles/*.php
*.d
*.so
*.pcm
*.root
*.pdf
*.png
/tmpdir
/tmp
._*

plotFiles/mc/unpolarized/

plotFiles/data_x_mc/

plotFiles/*

fits/fitPlotFiles/*

*.csv

outputPlots/*

evtsCountFiles/*

!puWeight/*root
!data/*root
fits/fitPlotFiles_BKP

puWeight/*.root
Plots_*.err
Plots_*.out
LSFJobs/

reweightingNLOSF/logsTrees
